<mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenavToggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <div>
        LOGO
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/">Home</a></li>
          <li><a *ngIf="isAuth" routerLink="user/me">Profile</a></li>
          <li><a *ngIf="!isAuth" routerLink="login">Login</a></li>
          <li><a *ngIf="isAuth" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
