mat-form-field {
  width: 100%;
}

input[type="file"] {
  display: none;
}

#images {
  overflow-x: auto;
  display: inline-flex;
  width: -webkit-fill-available;

  img {
    padding-left: 5px;
    display: block;
  }

  .image {
    text-align: center;
  }
}
#content {
  word-break: break-word;
}
#title {
  word-break: break-all;
  font-size: x-large;
  text-align: center;
}
