mat-form-field {
  width: 100%;
}

#images {
  overflow-x: auto;
  display: inline-flex;
  width: -webkit-fill-available;

  img {
    padding-left: 5px;
    display: block;
  }

  .image {
    text-align: center;
  }
}

textarea {
  height: 120px;
}
