<agm-map (mapRightClick)="mapRightClick($event)"
         (mapClick)="mapClick()"
         [latitude]="center.lat"
         [longitude]="center.lng"
        [fullscreenControl]="true">
  <agm-marker *ngIf="newMarker !== null" [latitude]="newMarker.lat" [longitude]="newMarker.lng">
    <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="500"  [closeWhenOthersOpen]="true">
      <ng-template>
        <app-post-create [location]="newMarker"></app-post-create>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
  <agm-marker *ngFor="let post of posts" [latitude]="post.location.latitude" [longitude]="post.location.longitude">
    <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="500"  [closeWhenOthersOpen]="true">
      <ng-template>
        <app-post-item [post]="post"></app-post-item>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
