<mat-nav-list>
  <a *ngIf="isAuth" mat-list-item (click)="sidenavCloser()" routerLink="/">
    <mat-icon>word</mat-icon>
    <span class="nav-caption">Home</span></a>
  <a *ngIf="isAuth" mat-list-item (click)="sidenavCloser()" routerLink="user/me">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Profile</span></a>
  <a *ngIf="!isAuth" mat-list-item (click)="sidenavCloser()" routerLink="login">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span></a>
  <a *ngIf="isAuth" mat-list-item (click)="logout(); sidenavCloser()">
    <mat-icon>eject</mat-icon>
    <span class="nav-caption">Logout</span></a>
</mat-nav-list>
