/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/snazzy-info-window/dist/snazzy-info-window.css";
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background: #fafafa;
  overflow:hidden;
}
main {
  height: inherit;
}
app-post-list {
  height: inherit;
}
